@{
    ViewData["Title"] = "Workout Details";
}

<h1>Workout Details</h1>

<p>This is a sample full body workout:</p>

<ul>
    <li>Squats - 3 sets of 10</li>
    <li>Push-ups - 3 sets of 12</li>
    <li>Plank - 3 sets of 30 seconds</li>
</ul>

<a class="btn btn-secondary" asp-action="Index">Back to Workouts</a>