@model WebDevFinalProject.Models.Workout

@{
    ViewData["Title"] = "Workout Details";
}

<h1>Workout Details</h1>

<div class="card p-3">
    <h3>@Model.Name</h3>
    <p><strong>Workout Category:</strong> @Model.WorkoutCategory</p>
    <p><strong>Date:</strong> @Model.Date</p>
</div>

<a class="btn btn-secondary mt-3"
   asp-controller="Workout"
   asp-action="Related"
   asp-route-id="@Model.Id">
    Related Exercises
</a>


<a class="btn btn-secondary mt-3" asp-controller="Workout" asp-action="Index">Back to Workouts</a>
