@{
    ViewData["Title"] = "Workouts";
}

<h1>Workouts</h1>

<p>Here are some example workout routines:</p>

<ul>
    <li>Full Body Workout</li>
    <li>Upper Body Day</li>
    <li>Leg Day</li>
    <li>Cardio Session</li>
</ul>

<a class="btn btn-primary" asp-action="Details">View Sample Workout</a>